<div class="container d-flex border">
    <div class="row">
        <div class="col-8 texto align-text-center justify-item-center">
            <h1> <strong> Portfolio SA-MA-JO</strong> FULL STACK DEVELOPER</h1>
            <h6> Esta empresa esta dividida en tres programadores que se nombran Samuel Marrero, Manu Garcia, Jose Romero, estamos aprendiendo cosas geniales las cuales emplearemos en nuestro furturo como programadores tops </h6>
        </div>

    <div class=" col-4 w-25 p-3"> 
    
        <img src="https://images.pexels.com/photos/36717/amazing-animal-beautiful-beautifull.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="img-fluid rounded-circle">
    </div>
    </div>
</div>
